@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>Książkosfera</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tu będą jakieś bajery</h2>
        <p>
            Tylko jeszcze ich nie ma
        </p>
    </div>
</div>