@model IEnumerable<bookreview.Models.BaseModels.Author>

@{
    ViewBag.Title = "Autorzy";
}

<div class="col-xs-12">
    <div class="subsite-header">
        <h2>Autorzy</h2>
        <p class="options">
            @Html.ActionLink("Dodaj", "Create")
        </p>
    </div>
</div>

<div class="col-xs-12">
    @foreach (var item in Model)
    {
        <div class="item-wrapper col-xs-12 col-md-4">
            <div class="item">
                <div class="item-title">
                   @Html.DisplayFor(modelItem => item.LastName), @Html.DisplayFor(modelItem => item.FirstName)
                </div>
                <div class="item-body">
                    <div class="item-desc">
                        @(item.ShortText())
                    </div>
                </div>
                <div class="item-footer">
                    [Miejsce na komentarze, like, share itp]
                </div>
            </div>
        </div>
    }
</div>
}


