@model bookreview.Models.BaseModels.Category

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div>
    <h3>@Html.DisplayFor(model => model.Name)</h3>
    <hr />
    Nazwa: @(Model.Name)<br />
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Wróć do listy", "Index")
</p>
