@model IEnumerable<bookreview.Models.BaseModels.Category>

@{
    ViewBag.Title = "Kategorie";
}

<div class="col-xs-12">
    <div class="subsite-header">
        <h2>Kategorie</h2>
@if (User.Identity.IsAuthenticated)
{
        <p class="options">

        <p class="btn btn-default">@Html.ActionLink("Dodaj", "Create")</p>
    </p>
}
    </div>
</div>

<table class="table">
    <tr>
        <th>
            Nazwa
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Szczegóły", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
