body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.item {
    position: relative;
    display: inline-block;
    height: 400px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0;
    width: 100%;
}
.item .item-title {
    top: 0;
    left: 0;
    background-color: #B7B6C1;
    display: block;
    width: 100%;    
    padding: 25px;
    border-radius: 10px 10px 0 0;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
}

.item .item-footer {
    position: absolute;
    bottom: 0;
    display:block;
    left: 0;
    background-color: #B7B6C1;
    width: 100%;    
    padding: 25px;
    border-radius: 0 0 10px 10px;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
}

.item .item-body {
    display: block;
    width: 100%;
    height: auto;
    overflow-y: hidden;
    text-align: justify;
}

.item .item-body .author {
    position: relative;
    padding:  10px 25px 10px 25px;
    background-color: #eeeeee;
    font-style: italic;
    font-weight: 600;
}

.item .item-body .item-desc {
    padding: 10px 25px;
}

.subsite-header {
    width: 100%;
    padding: 25px 50px;
}

.subsite-header h2 {
    display: inline-block;
    width: auto;
    width: 70%;
    min-height: 50px;
    margin: 0;
}
.subsite-header .options {
    display: inline-block;
    float: right;
    width: 30%;
    min-height: 50px;   
    text-align: right;
    padding: 15px;
}

.item-wrapper {
    padding: 25px;
}

.form-input {
    max-width: 100%;
}

.form-row {
    padding: 20px;
}

.control-label {
    text-align: right;
    font-weight: bold;
}

.button {
    display: inline-block;
    position: relative;
    background-color: #818a95;
    color: black;
    padding: 5px ;
    border: 1px solid black;
    border-radius: 3px;
    min-width: 150px;
    text-align: center;
    margin: 0 10px 0 10px;

}
.button a {
    color: black;
    font-weight: 100;
    font-style: normal;
}

.button a:hover {
    text-decoration: none;
    letter-spacing: 2px;
}